<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Learn how to add user authentication to Symfony web apps easily." />
    <link rel="shortcut icon mask-icon" href="https://cdn.auth0.com/website/auth0_favicon.svg" color="#000000" />
    <link rel="shortcut icon" href="https://cdn.auth0.com/website/new-homepage/dark-favicon.png" />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    {% if title is defined %}
        <title> {{ title }} | Auth0 Symfony Sample</title>
    {% else %}
        <title>Auth0 Symfony Sample</title>
    {% endif %}
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="page-layout">
        {{ include('components/nav-bar.html.twig' )}}
        {{ include('components/mobile-nav-bar.html.twig' )}}
        <div class="page-layout__content">
            {% block content %}{% endblock %}
        </div>
        {{ include('components/footer.html.twig' )}}
    </div>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>
