<div>

    <h1 style="color:white">
        Hello, Symfony World!
    </h1>
{# <p class="hero-banner__description">
    <span>This is a sample application that demonstrates the authentication flow
    for Symfony web apps using <strong>Auth0</strong>.</span>
</p> #}

{# <a href="https://developer.auth0.com/resources/code-samples/web-app/symfony/basic-authentication" id="code-sample-link" class="button button--secondary"
target="_blank" rel="noopener noreferrer">Check out the Symfony code sample →</a> #}
</div>
